div{
    width: 100px;
    border: 1px red;
    padding: 5px;
    margin: 10px;
}

header{
    background-color: lightseagreen;
    color: white;
    font-size: 28px;
    border-bottom: 3px;
    padding: 22px;
    margin-bottom: 15px;
    text-align: center;
    box-sizing: border-box;
}

section{
    width: 50%;
    margin-left: 25%;
    background-color: gainsboro;
    margin-bottom: 15px;
}

footer{

}